In [1]:
#Importação
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("aula-pyspark").getOrCreate();

In [2]:
df = spark.read.csv('ABT.csv', inferSchema=True, header=True)

In [3]:
type(df)

pyspark.sql.dataframe.DataFrame

In [4]:
#Mostrar os tipos das colunas SCHEMA
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- volume: integer (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- adjclose: double (nullable = true)

In [5]:
#Mostrar as colunas
df.columns

['date', 'volume', 'open', 'high', 'low', 'close', 'adjclose']

In [6]:
#Mostrar 5 dados
df.show(5)

+----------+-------+-----------------+-----------------+-----------------+-----------------+-----------------+
|      date| volume|             open|             high|              low|            close|         adjclose|
+----------+-------+-----------------+-----------------+-----------------+-----------------+-----------------+
|2020-07-02|3845300|             92.5|93.05999755859375|91.93000030517578| 92.2300033569336| 92.2300033569336|
|2020-07-01|3389600| 91.9800033569336| 91.9800033569336|90.43000030517578|91.63999938964844|91.63999938964844|
|2020-06-30|5220900|            88.75| 91.9000015258789|88.44000244140625|91.43000030517578|91.43000030517578|
|2020-06-29|4669300|89.58000183105469|89.69999694824219|88.08999633789062|89.01000213623047|89.01000213623047|
|2020-06-26|8522500|89.81999969482422|89.94999694824219|87.94000244140625|88.70999908447266|88.70999908447266|
+----------+-------+-----------------+-----------------+-----------------+-----------------+-----------------+
only showing top 5 rows

In [7]:
#Filtro + show para mostrar
df.filter("open < 92").show(3)

+----------+-------+-----------------+-----------------+-----------------+-----------------+-----------------+
|      date| volume|             open|             high|              low|            close|         adjclose|
+----------+-------+-----------------+-----------------+-----------------+-----------------+-----------------+
|2020-07-01|3389600| 91.9800033569336| 91.9800033569336|90.43000030517578|91.63999938964844|91.63999938964844|
|2020-06-30|5220900|            88.75| 91.9000015258789|88.44000244140625|91.43000030517578|91.43000030517578|
|2020-06-29|4669300|89.58000183105469|89.69999694824219|88.08999633789062|89.01000213623047|89.01000213623047|
+----------+-------+-----------------+-----------------+-----------------+-----------------+-----------------+
only showing top 3 rows

In [8]:
#Filtro 2
df.filter( (df["open"] < 93) ).show(3)

+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+
|      date| volume|            open|             high|              low|            close|         adjclose|
+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+
|2020-07-02|3845300|            92.5|93.05999755859375|91.93000030517578| 92.2300033569336| 92.2300033569336|
|2020-07-01|3389600|91.9800033569336| 91.9800033569336|90.43000030517578|91.63999938964844|91.63999938964844|
|2020-06-30|5220900|           88.75| 91.9000015258789|88.44000244140625|91.43000030517578|91.43000030517578|
+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+
only showing top 3 rows

In [9]:
#Filtrando com colunas especificas
df.filter ( ( df["open"] < 93) ).select(["open","close"]).show(3)

+----------------+-----------------+
|            open|            close|
+----------------+-----------------+
|            92.5| 92.2300033569336|
|91.9800033569336|91.63999938964844|
|           88.75|91.43000030517578|
+----------------+-----------------+
only showing top 3 rows

In [11]:
#Criando outro DF a partir do antigo
dfCloseOpen = df.withColumn("close/open", df["close"]/df["open"])

In [12]:
type(dfCloseOpen)

pyspark.sql.dataframe.DataFrame

In [13]:
#Mostrando as colunas
dfCloseOpen.select(["close","open","close/open"]).show(3)

+-----------------+----------------+------------------+
|            close|            open|        close/open|
+-----------------+----------------+------------------+
| 92.2300033569336|            92.5| 0.997081117372255|
|91.63999938964844|91.9800033569336|0.9963035012516172|
|91.43000030517578|           88.75| 1.030197186537192|
+-----------------+----------------+------------------+
only showing top 3 rows

In [14]:
#Calculando maximo e minimo
#imports
from pyspark.sql.functions import max,min

In [15]:
dfCloseOpen.select(max("close/open")).show()

+------------------+
|   max(close/open)|
+------------------+
|1.1166077691829603|
+------------------+

In [16]:
dfCloseOpen.select(min("close/open")).show()

+------------------+
|   min(close/open)|
+------------------+
|0.9078590266226547|
+------------------+

In [ ]:
#dfCloseOpen = dfCloseOpen.withColumn('flag', '1' if(dfCloseOpen['close/open'] > 1 else '0'))
#if ternario
X=10
print("par" if (x % 2 == 0) else "par")

In [17]:
#Trabalhando com anos
from pyspark.sql.functions import year

In [18]:
dfCloseOpen.select (year (dfCloseOpen['date'])).show(3)

+----------+
|year(date)|
+----------+
|      2020|
|      2020|
|      2020|
+----------+
only showing top 3 rows

In [19]:
dfCloseOpen = dfCloseOpen.withColumn("Year", year (dfCloseOpen["date"]))

In [20]:
dfCloseOpen.select("date","Year").show(3)

+----------+----+
|      date|Year|
+----------+----+
|2020-07-02|2020|
|2020-07-01|2020|
|2020-06-30|2020|
+----------+----+
only showing top 3 rows

In [21]:
#Trabalhando com mês
from pyspark.sql.functions import month

In [25]:
dfCloseOpen = dfCloseOpen.withColumn("Month", month (dfCloseOpen["date"]))

In [26]:
dfCloseOpen.select("date","Month","Year").show(3)

+----------+-----+----+
|      date|Month|Year|
+----------+-----+----+
|2020-07-02|    7|2020|
|2020-07-01|    7|2020|
|2020-06-30|    6|2020|
+----------+-----+----+
only showing top 3 rows

In [27]:
#Trabalhando com dia
from pyspark.sql.functions import dayofmonth

In [28]:
dfCloseOpen = dfCloseOpen.withColumn("Day", dayofmonth (dfCloseOpen["date"]))

In [29]:
dfCloseOpen.select("date","Day","Month","Year").show(3)

+----------+---+-----+----+
|      date|Day|Month|Year|
+----------+---+-----+----+
|2020-07-02|  2|    7|2020|
|2020-07-01|  1|    7|2020|
|2020-06-30| 30|    6|2020|
+----------+---+-----+----+
only showing top 3 rows

In [30]:
#agrupar = pegar os dados de acordo com os respectivos valores iguais
#agrupando pelo max
dfGtoupByMax = dfCloseOpen.groupBy("Year").max()

In [32]:
dfGtoupByMax.select(["Year","max(close)"]).show()

+----+------------------+
|Year|        max(close)|
+----+------------------+
|1990| 5.106247425079346|
|2003| 21.16567611694336|
|2007|28.514514923095703|
|2018|  74.2699966430664|
|2015| 51.20000076293945|
|2006|23.740503311157227|
|2013|38.709999084472656|
|1997|15.402911186218262|
|1988| 2.917855739593506|
|1994| 7.547145843505859|
|2014|46.369998931884766|
|2019| 88.73999786376953|
|2004|22.545801162719727|
|1991|7.7295122146606445|
|1982| 1.125759243965149|
|1996| 12.73756217956543|
|1989|  3.93489670753479|
|1998| 22.33281898498535|
|2020|              98.0|
|1985| 1.967448353767395|
+----+------------------+
only showing top 20 rows

In [34]:
#Ordenando
from pyspark.sql.functions import col, desc
dfGtoupByMax.sort("Year").select(["Year","max(close)"]).show()

+----+------------------+
|Year|        max(close)|
+----+------------------+
|1980|0.7925906181335449|
|1981|0.8872806429862976|
|1982| 1.125759243965149|
|1983| 1.486984133720398|
|1984|1.3467026948928833|
|1985| 1.967448353767395|
|1986|3.0511231422424316|
|1987| 3.752530813217163|
|1988| 2.917855739593506|
|1989|  3.93489670753479|
|1990| 5.106247425079346|
|1991|7.7295122146606445|
|1992|  7.64534330368042|
|1993| 6.817682266235352|
|1994| 7.547145843505859|
|1995|10.016100883483887|
|1996| 12.73756217956543|
|1997|15.402911186218262|
|1998| 22.33281898498535|
|1999|23.763690948486328|
+----+------------------+
only showing top 20 rows

In [36]:
dfGtoupByMax.sort( col("Year").desc() ).select(["Year", "max(close)"]).show()

+----+------------------+
|Year|        max(close)|
+----+------------------+
|2020|              98.0|
|2019| 88.73999786376953|
|2018|  74.2699966430664|
|2017|57.470001220703125|
|2016|45.290000915527344|
|2015| 51.20000076293945|
|2014|46.369998931884766|
|2013|38.709999084472656|
|2012|34.607975006103516|
|2011| 27.02713394165039|
|2010|26.983951568603516|
|2009|27.468549728393555|
|2008| 29.02790069580078|
|2007|28.514514923095703|
|2006|23.740503311157227|
|2005| 23.98520278930664|
|2004|22.545801162719727|
|2003| 21.16567611694336|
|2002|25.901580810546875|
|2001|25.484102249145508|
+----+------------------+
only showing top 20 rows

In [38]:
#PARQUET
#Escrevendo
dfCloseOpen.write.mode("overwrite").parquet("/home/jovyan/parquet/ABT.parquet")

In [39]:
#Lendo
dfParquet = spark.read.parquet("/home/jovyan/parquet/ABT.parquet")

In [40]:
dfParquet.show(2)

+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+------------------+----+-----+---+
|      date| volume|            open|             high|              low|            close|         adjclose|        close/open|Year|Month|Day|
+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+------------------+----+-----+---+
|2020-07-02|3845300|            92.5|93.05999755859375|91.93000030517578| 92.2300033569336| 92.2300033569336| 0.997081117372255|2020|    7|  2|
|2020-07-01|3389600|91.9800033569336| 91.9800033569336|90.43000030517578|91.63999938964844|91.63999938964844|0.9963035012516172|2020|    7|  1|
+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+------------------+----+-----+---+
only showing top 2 rows

In [42]:
#Consultas no DF como se fosse SQL
from pyspark.sql import SQLContext

In [41]:
#Criar uma view temporaria
dfParquet.createOrReplaceTempView("myTable")

In [44]:
#Fazendo a consulta e armazenando os resultados
sql = spark.sql("select * from myTable where close > 92")

In [45]:
sql.show(3)

+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----+-----+---+
|      date| volume|            open|             high|              low|            close|         adjclose|       close/open|Year|Month|Day|
+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----+-----+---+
|2020-07-02|3845300|            92.5|93.05999755859375|91.93000030517578| 92.2300033569336| 92.2300033569336|0.997081117372255|2020|    7|  2|
|2020-06-10|5829100|90.8499984741211|            92.75|90.63999938964844|92.16000366210938|92.16000366210938|1.014419429939357|2020|    6| 10|
|2020-06-08|5426800|88.9800033569336|92.61000061035156|88.91000366210938|92.55999755859375|92.55999755859375|1.040233693713175|2020|    6|  8|
+----------+-------+----------------+-----------------+-----------------+-----------------+-----------------+-----------------+----+-----+---+
only showing top 3 rows